
@model ProductSalesViewModel

@{
    ViewData["Title"] = "Product Sales";
}

<style>
    .detailsMarg{margin:5px 0}
</style>

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h4 class="card-title" style="color: black">Customer Entry</h4>
        <hr>

        <form asp-area="Master" asp-controller="ProductSales" asp-action="SaveCustomer">
            <input type="hidden" name="ID" id="ID" value="0">
            <div class="row">
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.Name" class="col-md-3"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="Name" id="Name" />
                            <span asp-validation-for="PersonnelInfoVM.Name"></span>
                        </div>

                    </div>


                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.CountriesID" class="col-md-3"></label>
                        <div class="col-md-7">
                            <select class="form-control" name="CountriesID" id="CountriesID">
                                @{
                                    foreach (var data in Model.GetCountries)
                                    {
                                        <option value="@data.ID">@data.Name</option>
                                    }

                                }
                            </select>

                            <span asp-validation-for="PersonnelInfoVM.CountriesID"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.DivisionsID" class="col-md-3"></label>
                        <div class="col-md-7">
                            <select class="form-control" name="DivisionsID" id="DivisionsID"></select>
                            <span asp-validation-for="PersonnelInfoVM.DivisionsID"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.DistrictsID" class="col-md-3"></label>
                        <div class="col-md-7">
                            <select class="form-control" name="DistrictsID" id="DistrictsID"></select>

                            <span asp-validation-for="PersonnelInfoVM.DistrictsID"></span>
                        </div>

                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.ThanasID" class="col-md-3"></label>
                        <div class="col-md-7">

                            <select class="form-control" name="ThanasID" id="ThanasID"></select>

                            <span asp-validation-for="PersonnelInfoVM.ThanasID"></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.Street" class="col-md-3"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="Street" id="Street" />
                            <span asp-validation-for="PersonnelInfoVM.Street"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="PersonnelInfoVM.State" class="col-md-3"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="State" id="State" />
                            <span asp-validation-for="PersonnelInfoVM.State"></span>

                            <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
                        </div>

                    </div>
                </div>
            </div>


        </form>
    </div>

        
    <div class="card-body">
        <h4 class="card-title" style="color: black">Product Add</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label asp-for="ProductsID" class="col-md-3"></label>
                    <div class="col-md-7">
                        <input type="hidden" id="ProductsID" name="ProductsID" />
                        <input type="text" class="form-control" value="" name="ProductName" id="ProductName" />
                    </div>

                </div>


                <div class="form-group row">
                    <label class="col-md-3">Unit</label>
                    <div class="col-md-7">
                        <input readonly class="form-control" id="unit" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3">Particulars</label>

                    <div class="col-md-7">
                        <input readonly class="form-control" id="Particulars" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3">Catagory</label>
                    <div class="col-md-7">
                        <input readonly class="form-control" id="Catagory" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3">Brand</label>
                    <div class="col-md-7">
                        <input readonly class="form-control" id="Brand" />
                    </div>
                </div>

               

            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3">Stock Qty</label>
                    <div class="col-md-7">
                        <input readonly class="form-control" id="stockQty" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SalesDate" class="col-md-3"></label>
                    <div class="col-md-7">
                        <input type="text" class="form-control datePicker" name="SalesDate" id="SalesDate" />

                    </div>

                </div>

                <div class="form-group row">
                    <label asp-for="Qty" class="col-md-3"></label>
                    <div class="col-md-7">
                        <input type="number" class="form-control" name="Qty" id="Qty" />

                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="UnitSalesPrice" class="col-md-3"></label>
                    <div class="col-md-7">
                        <input type="number" class="form-control" name="UnitSalesPrice" id="UnitSalesPrice" />
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="Discount" class="col-md-3"></label>
                    <div class="col-md-7">
                        <input type="number" class="form-control" name="Discount" id="Discount" />
                        <span asp-validation-for="Discount"></span>
                       

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" id="tblList">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Unit||Brand</th>
                            <th>Particulars||Catagory</th>
                            <th>Stock</th>
                            <th>SaleS Qty</th>
                            <th>Sales Price</th>
                            <th>Dicount</th>
                            <th>Total</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control productName" id="productName_1" onclick="AutoComplete(1)"/></td>
                            <td>
                                <input type="hidden" class="clsProductID" id="ProductID_1" readonly /><input type="text" class="form-control unit" id="unit_1" readonly /><input type="text" class="form-control Brand detailsMarg" id="Brand_1" readonly />
                               
                            </td>
                            <td>
                                <input type="text" class="form-control Particulars" id="Particulars_1" readonly /><input type="text" class="form-control Catagory detailsMarg" id="Catagory_1" readonly />
                            </td>
                            <td><input type="number" class="form-control stock" id="stock_1" readonly /><input type="hidden"id="hdnStock_1" /></td>
                            <td><input type="number" class="form-control qty" id="qty_1" onkeyup="SalesQty(1)" /></td>
                            <td><input type="number" class="form-control price" id="price_1" /></td>
                            <td><input type="number" class="form-control discount" id="discount_1" /></td>
                            <td><input type="number" class="form-control total" id="total_1" /></td>
                            <td>
                               
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-info btn-sm" id="btnProductAdd" style="float:left; margin-top:5px;"><i class="fas fa-plus-square"></i></button>
             
            </div>
        </div>
    </div>
</div>             

@section Scripts{
    <script>
        $(document).ready(function () {
            //$("#tblList").DataTable();
            $(".datePicker").datepicker().datepicker("setDate", new Date());

            GetDivision();
            $("#DivisionsID").change(function () {
                GetDistrict($(this).val() != '' ? $(this).val() : 0);
                GetThana(0)
            })

            $("#DistrictsID").change(function () {
                GetThana($(this).val() != '' ? $(this).val() : 0);
            })

            //GetProducts();

            $("#btnProductAdd").click(function () {
                SalesTableAddRow();
            })

        })

        function GetDivision() {
           $("#DivisionsID").empty();

           $.ajax({
               Method: "GET",
               url: "@Url.Action("GetDivision")",
               data: { countriesId: $("#CountriesID").val() },
               success: (function (data) {
                   console.log(data);
                   $("#DivisionsID").append("<option value=''>Select</option>")
                   $.each(data, function (index, value) {
                       $("#DivisionsID").append('<option value="' + value.id + '">' + value.name+'</option>')
                   })
               })
           })
       }

       function GetDistrict(divisionId) {
           $("#DistrictsID").empty();
           $.ajax({
               Method: "GET",
               url: "@Url.Action("GetDistrict")",
               data: { divisionId: divisionId },
               success: (function (data) {
                   console.log(data);
                   $("#DistrictsID").append("<option value=''>Select</option>")
                   $.each(data, function (index, value) {
                       $("#DistrictsID").append('<option value="' + value.id + '">' + value.name+'</option>')
                   })
               })
           })
       }




       function GetThana(districtId) {
           $("#ThanasID").empty();
           $.ajax({
               Method: "GET",
               url: "@Url.Action("GetThana")",
               data: { districtId: districtId },
               success: (function (data) {
                   console.log(data);
                   $("#ThanasID").append("<option value=''>Select</option>")
                   $.each(data, function (index, value) {
                       $("#ThanasID").append('<option value="' + value.id + '">' + value.name+'</option>')
                   })
               })
           })
        }


        var index = 2;
        function SalesTableAddRow() {
            var table = $("#tblList tbody");

            table.append('<tr id="trId_' + index + '"><td><input type="text" class="form-control productName" id="productName_' + index + '" onclick="AutoComplete(' + index + ')"/></td><td><input type="hidden" class="clsProductID" id="ProductID_' + index + '" readonly /><input type="text" class="form-control unit" id="unit_' + index + '" readonly /><input type="text" class="form-control Brand detailsMarg" id="Brand_' + index + '" readonly /></td><td><input type="text" class="form-control Particulars" id="Particulars_' + index + '" readonly /><input type="text" class="form-control Catagory detailsMarg" id="Catagory_' + index + '" readonly /></td><td><input type="number" class="form-control stock" id="stock_' + index + '" readonly /><input type="hidden"id="hdnStock_' + index + '" /></td><td><input type="number" class="form-control qty" id="qty_' + index + '" onkeyup="SalesQty(' + index + ')"/></td><td><input type="number" class="form-control price" id="price_' + index + '" /></td><td><input type="number" class="form-control discount" id="discount_' + index + '" /></td><td><input type="number" class="form-control total" id="total_' + index + '" /></td><td> <a class="btn btn-danger btn-sm" id="btnProductdeduct" onclick="Delete(' + index + ')"><i class="fas fa-minus-square"></i></a></td></tr>')
            index = index + 1;
        }
        function AutoComplete(index) {
            
            var allProduct = [];
            $("#productName_" + index).attr("placeholder", "Loading .....");
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetProducts")',
            type: "GET",
            dataType: "json",
            async: true,
            data: {},
            success: function (List_ItemViewModel) {
         
                $.each(List_ItemViewModel, function (id, option) {
                    var obj2 = new Object();
                    obj2.key = option.id;
                    obj2.value = option.productName;
                    obj2.particurals = option.particurals;
                    obj2.unit = option.unit;
                    obj2.brand = option.brand;
                    obj2.catagory = option.catagory;
                    allProduct[allProduct.length] = obj2;
                });
                $("#productName_" + index).attr("placeholder", "Entry Product Name");
            },
            failure: function () {
                $.alert.open("error", "Failed!");
            }
        });
            $("#productName_" + index).autocomplete({
                source: allProduct,
                select: function (event, ui) {
                    var tableLn = $("#tblList tbody tr").length;
                    for (var i = 1; i <= tableLn; i++) {
                        var proId = $("#ProductID_" + i).val();
                        if (proId == ui.item.key) {
                            alert("This Product is already listed");
                            return false;
                        }
                    }
                    $("#ProductID_" + index).val(ui.item.key);
                    $("#productName_" + index).val(ui.item.ProductName);
                    $("#Particulars_" + index).val(ui.item.particurals);
                    $("#unit_" + index).val(ui.item.unit);
                    $("#Brand_" + index).val(ui.item.brand);
                    $("#Catagory_" + index).val(ui.item.catagory);

                    stock(ui.item.key, index)
            }
      
            });
           
        }

        function stock(id,index) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetProductDetailsForStock")',
                type: "GET",
                dataType: "json",
                async: false,
                data: { id: id},
                success: (function (data) {
                    $.each(data, function (sl, value) {
                        $("#stock_" + index).val(parseFloat(value.totalQty));
                        $("#hdnStock_" + index).val(parseFloat(value.totalQty));
                    })
                    
                })

            })
        }

        function SalesQty(index) {
            var leftStock = 0;
            var stockQty = parseFloat($("#hdnStock_" + index).val());
            var saleQty = parseFloat($("#qty_" + index).val());
            
            if (isNaN(saleQty)) {
                saleQty=0;
            }
            if (stockQty > 0) {
                if (stockQty >= saleQty) {
                    leftStock = stockQty - saleQty;
                    console.log(leftStock);
                    $("#stock_" + index).val(leftStock)
                } else {
                    alert("Sale Quantity Cant be greater than Stock Quantity!!!");
                    parseFloat($("#qty_" + index).val(''))
                    $("#stock_" + index).val(stockQty)
                } 
            }
            
        }

        function Delete(index) {
            var table = $("#tblList tbody tr").length;
            $("#trId_" + index).remove()
        }
    </script>
}