@model ProductStockViewModel
@{
    ViewData["Title"] = "ProductStockList";
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h4 class="card-title" style="color: black"> Product Stock Summery</h4>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" id="tblList">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Catagory</th>
                            <th>Brand</th>
                            <th>Particulars</th>
                            <th>Unit</th>
                            <th>Total Stock</th>
                            <th>Per Cost</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var data in Model.GetProductStocks)
                            {
                                <tr>
                                    <td>@data.Products.ProductCode</td>
                                    <td>@data.Products.ProductName</td>
                                    <td>@data.Products.Catagory</td>
                                    <td>@data.Products.Brand</td>
                                    <td>@data.Products.Particurals</td>
                                    <td>@data.Products.Unit</td>
                                    <td>@data.TotalQty</td>
                                    <td>@data.PerCost</td>

                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $("#tblList").DataTable();
    </script>
}

